<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test"  preserve-order="true">
		<classes>
		    <!-- hello local -->
			<!-- classes to test -->
			<class name="Test.LoginTestCases" />
			<class name="Test.RegisterNewMemberPageTest" />
			 <class name="Test.DashbordPageTest" /> 
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
